.index{
	.home_top{
		position: absolute;
	    top: 0;
	    width: 100%;
	    height: 675px;
	    background: url(../../images/index/main_image_bg03.png) center no-repeat;
	    background-size: cover;
	}
	.home_body{
		position:absolute;
		top:675px;
		width:100%;
		height:auto;
	}
}
